
            <h1>Amish Campground</h1>
            <h1>Hi {{reservation[1]}},</h1>
            <p>Thank you for making a reservation at Amish Campground. We look forward to your stay.</p>
            <h3>Reservation Details</h3>
            <p>Reservation Confirmation Number: </p>

            <p>Site Name: [site name]</p>

            <p>Arrival date: {{reservation[3]}}</p>

            <p>Departure date: {{reservation[4]}} </p>


            

            <p>Address: [campground address 1] </p>

            <p>Cancellations: [custom cancellation policy]</p>

            <p>If you need to make changes or require assistance please call [campground phone] or email us at [campground email].</p>

            

            <p>We look forward to welcoming you to Amish Campground soon!</p> 

            <p>Amish Campground</p>